body {
    margin: 0;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}


/*Header*/
.header {
    width: 100%;
    height: 11vh;
    background-color: #552626;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.logo_text_around {
    padding: 33px 0 0 44px;
    width: fit-content;
}

.save_btn {
    width: 180px;
    height: 55px;
    background: rgba(41, 72, 129, 0.9);
    border-radius: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.change_lang {
    top: 30px;
}

.choose_lang {
    top: 70px;
}


/*Main*/
.main {
    display: flex;
    height: 89vh;
}

.item_name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: cursive;
}

.added_elems {
    background-color: white;
    width: 22%;
}

.added_elems_container {
    height: calc(89vh - 97px);
    overflow-y: auto;
}

.added_elem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: auto;
    position: relative;
}

.added_elem:hover {
    background-color: rgb(219, 226, 226);
}

.delete_item_img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
}

.img_added_elem {
    width: 70px;
    height: 70px;
    padding: 30px 0;
}

.textfield_added_elem {
    margin-left: 15px;
    width: 60px;
    border-radius: 5px;
    padding: 5px;
    background-color: lightblue;
    font-family: cursive;
    font-weight: bold;
    font-size: 15px;
    outline: none;
}

.burger_params {
    width: 30px;
    height: 30px;
    border: solid 1px gray;
    margin-left: 20%;
    border-radius: 7px;
    cursor: pointer;
    background-color: white;
    position: relative;
}

.burger_params_line:before {
    content: "";
    width: 20px;
    height: 4px;
    background-color: #B7B7B7;
    position: absolute;
    left: 50%;
    bottom: 7px;
    transform: translateX(-50%);
}

.burger_params_line {
    content: "";
    width: 20px;
    height: 4px;
    background-color: #B7B7B7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger_params_line:after {
    display: block;
    content: "";
    width: 20px;
    height: 4px;
    background-color: #B7B7B7;
    position: absolute;
    left: 50%;
    bottom: -7px;
    transform: translateX(-50%);
}

.burger_to_x:before {
    content: "";
    width: 20px;
    height: 4px;
    background-color: #B7B7B7;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%) rotate(90deg);
}

.burger_to_x {
    content: "";
    width: 20px;
    height: 4px;
    background-color: #B7B7B7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.burger_to_x:after {
    display: none;
    content: "";
    width: 20px;
    height: 4px;
    background-color: #B7B7B7;
    position: absolute;
    left: 50%;
    bottom: -7px;
    transform: translateX(-50%);
}

.params_box {
}

label {
    font-size: 20px;
}

input[type=range] {
    -webkit-appearance: none;
    border-radius: 5px;
    background-color: rgba(41, 72, 129);
    height: 10px;
    outline: none;
    margin: 0 5px;
}

.XYBox {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_field_params_box {
    width: 35px;
    height: 15px;
}

.slider_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.slider_value {
    margin-top: 5px;
    width: 35px;
}

canvas {
    background-color: beige;
    width: 56%;
}

.elems_for_add {
    background-color: white;
    width: 22%;
}

.added_elems_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 97px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.clear_btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 15px;
}

.furniture_items_container {
    height: calc(89vh - 97px);
    overflow-y: auto;
}

.furniture_item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 25%;
}

.img_fur_item {
    width: 100px;
    height: 107px;
}

.circle_add {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    background: #63BD44;
    border-radius: 90px;
    cursor: pointer;
    position: relative;
}

.horiz_line {
    content: "";
    position: absolute;
    width: 26px;
    height: 4px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vert_line {
    content: "";
    position: absolute;
    width: 4px;
    height: 26px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hidden {
    display: none;
}

.img_search {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 15%;
    right: 4%;
}

#searchItem {
    border-radius: 10px;
    border: 0;
    background-color: rgb(219, 226, 226);
    padding: 5px;
    outline: none;
}

.change_room_size {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 23%;
    border-radius: 6px;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.input_wh {
    width: 40px;
    height: 20px;
    margin: 0 6px;
    border-radius: 5px;
}

.label_wh {
    font-size: 18px;
}

.changes {
    position: absolute;
    display: flex;
    align-items: baseline;
    right: 23%;
    bottom: 65px;
}

.change_scale {
    position: relative;
    background-color: white;
    width: 35px;
    height: 80px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.plus_scale {
    height: 49%;
    cursor: pointer;
}

.plus_scale:hover {
    background-color: lightgray;
}

.minus_scale {
    height: 49%;
    cursor: pointer;
}

.minus_scale:hover {
    background-color: lightgray;
}

.horiz_line_plus_scale {
    display: block;
    background-color: black;
    z-index: 2;
    top: 25%;
    width: 20px;
    border-radius: 2px;
}

.vert_line_plus_scale {
    display: block;
    background-color: black;
    z-index: 2;
    top: 25%;
    height: 20px;
    border-radius: 2px;
}

.horiz_line_del {
    display: block;
    z-index: 2;
    background-color: lightgrey;
    width: 100%;
    height: 2px;
}

.horiz_line_minus_scale {
    display: block;
    background-color: black;
    z-index: 2;
    top: unset;
    bottom: 20%;
    width: 20px;
    border-radius: 2px;
}

.change_camera {
    background-color: white;
    width: 160px;
    height: 35px;
    display: flex;
    position: relative;
    margin-right: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.camera_up, .camera_down, .camera_left, .camera_right {
    position: relative;
    cursor: pointer;
    width: 25%;
}

.camera_up:hover {
    background-color: lightgray;
}

.camera_down:hover {
    background-color: lightgray;
}

.camera_left:hover {
    background-color: lightgray;
}

.camera_right:hover {
    background-color: lightgray;
}

.line_45deg {
    content: "";
    width: 4px;
    height: 15px;
    background-color: black;
    border-radius: 2px;
    position: absolute;
}

.camera_up .line_45deg_up {
    transform: rotate(-50deg);
    top: 29%;
    left: 51%;
}

.camera_up .line_45deg_down {
    transform: rotate(50deg);
    top: 29%;
    left: 29%;
}

.camera_down .line_45deg_up {
    transform: rotate(50deg);
    top: 29%;
    left: 51%;
}

.camera_down .line_45deg_down {
    transform: rotate(-50deg);
    top: 29%;
    left: 29%;
}

.camera_left .line_45deg_up {
    transform: rotate(50deg);
    top: 16%;
    left: 40%;
}

.camera_left .line_45deg_down {
    transform: rotate(-50deg);
    top: 38%;
    left: 40%;
}

.camera_right .line_45deg_up {
    transform: rotate(-50deg);
    top: 16%;
    left: 40%;
}

.camera_right .line_45deg_down {
    transform: rotate(50deg);
    top: 38%;
    left: 40%;
}

.camera_left:after {
    content: "";
    background-color: lightgray;
    width: 2px;
    height: 100%;
    position: absolute;
    right: 0;
}
.camera_right:after {
    content: "";
    background-color: lightgray;
    width: 2px;
    height: 100%;
    position: absolute;
    right: 0;
}

.camera_up:after {
    content: "";
    background-color: lightgray;
    width: 2px;
    height: 100%;
    position: absolute;
    right: 0;
}

.camera_down:after {
    content: "";
    background-color: lightgray;
    width: 2px;
    height: 100%;
    position: absolute;
    right: 0;
}

.modal_div {
    width: 30%;
    height: 40%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal_label_title {
    color: black;
    font-size: 40px;
    margin-bottom: 25px;
}

.modal_label_suptitle {
    color: black;
}

.modal_div_enter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal_btn_continue {
    margin-top: 25px;
}
